<div class="Card">
    <div class="Card-title">Editing Director email for {{ location.name }} Location</div>
    <div class="Card-content">
        <div class="Form-group">
            <label for="email">Enter director email</label>
            <input name="email" class="Input" ng-model="email" type="email"></input>
        </div>
        <div class="Button-group">
            <div class="Button Button--success" ng-click="save()">Save</div>
            <div class="Button Button--neutral" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</div>