<div class="Card">
    <div class="Card-title">Editing Lesson Goal for {{ location.name }} Location</div>
    <div class="Card-content">
        <div class="Form-group">
            <label for="goal">Enter Goal Amount</label>
            <input name="goal"class="Input" ng-model="goal" type="number"/>
        </div>
        <div class="Button-group">
            <div class="Button Button--success" ng-click="save()">Save</div>
            <div class="Button Button--neutral" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</div>