.Form {

	table {

		width:100%;
		border:1px solid lighten($mediumGray, 10%);

	}

	input[type="text"], input[type="date"] {

		border:1px solid $mediumGray;
		width:100%;

	}

	td {

		padding:8px 15px;

	}

	tr {

		&:nth-child(2n+1) {

			background-color: lighten($lightgray, 15%);

		}
		
	}

	
	&-field {

		margin-bottom: 15px;

	}

	&-submit {

		width:40%;
		margin: 20px auto 50px auto;

	}

}

.StatusTag {

	border-radius: 3px;
	font-size: .90rem;
	box-sizing:border-box;
	padding:5px 10px;
	white-space: nowrap;

	&--good {

		border: 1px solid $green;
		background-color: lighten($green, 47%);
		color:$green;

	}

	&--bad {

		border: 1px solid $red;
		background-color: lighten($red, 41%);
		color:$red;

	}

	&--block {

		display: block;

	}

}