* {
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
}

a {
	color:inherit;
	text-decoration: none;
}

input, select, password{
	outline: none;
}

.left {

	float:left;

}

.right {

	float:right;

}

.search-container {
	position: relative;
	// margin-bottom:-150px;
	width:100%;
	background-color: $darkgray;
	height:150px;
	top:0px;
	text-align: center;
	// transition: .5s;
	z-index: 100;
	overflow: visible;

	// a.log-out {
	// 	position: absolute;
	// 	top:10px;
	// 	right:10px;
	// 	color:white;
	// 	font-size: .8em;
	// 	letter-spacing: 1px;
	// 	padding-bottom:2px;
	// 	border-bottom: 1px solid white;
	// }

	// .log-in {

	// 	position: absolute;
	// 	top:10px;
	// 	left:10px;
	// 	color:white;
	// 	font-size: .8em;
	// 	letter-spacing: 1px;
	// 	padding-bottom:2px;
	// 	border-bottom: 1px solid white;

	// }

	.member-search {
		border: none;
		width:90%;
		max-width:600px;
		height:50px;
		margin-top: 45px;
		padding-left:10px;
		padding-right: 10px;
		@include round3px;
		@include helvetica;
		color: $darkgray;
		font-weight:bold;
		font-size: 1.2em;
	}
}

.links-container {

	position: absolute;
	width:100%;
	height:auto;
	overflow: auto;
	top:0;
	@include box-sizing(border-box);
	padding:10px;

	a {

		color:white;
		font-size: .8em;
		letter-spacing: 1px;
		padding-bottom:2px;
		border-bottom: 1px solid white;

	}

}

.logout {

	margin-left: 30px;

}