/* TEMP STYLES */

.right,.left {
	display:none;
}

/* END TEMP STYLES */

* {
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
}

a {
	color:inherit;
	text-decoration: none;
}

input, select, password{
	outline: none;
}

.left {

	// float:left;

}

.right {

	// float:right;

}
.nav-container {
	position: relative;
	width:100%;
	background-color: $darkgray;
	height: 70px;
	top:0px;
	margin-bottom:-70px;
	z-index: 100;
	overflow: visible;

	.hamburger {
		position:absolute;
		margin-top:15px;
		margin-left:15px;
		width:40px;
		height:40px;

		.pattie {
			height:6px;
			margin-bottom:9px;
			border-radius: 2px;
			background:white;
		}
	}

	.member-search {
		position:absolute;
		right:15px;
		text-align:right;
		border: none;
		width:90%;
		max-width:600px;
		height:40px;
		margin-top:15px;
		@include round3px;
		@include helvetica;
		color: $darkgray;
		font-weight:bold;
		font-size: 1.2em;
		text-align:center;
		padding:10px;
	}
}

.links-container {

	position: absolute;
	width:100%;
	height:auto;
	overflow: auto;
	top:0;
	@include box-sizing(border-box);
	padding:10px;

	a {

		color:white;
		font-size: .8em;
		letter-spacing: 1px;
		padding-bottom:2px;
		border-bottom: 1px solid white;

	}

}

.logout {

	margin-left: 30px;

}

.spacer {

	width:100%;
	height:70px;

}
