* {
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
  @include lato;
}

a {
	color:inherit;
	text-decoration: none;
}

input, select, password{
	outline: none;
	webkit-appearance: none;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.left {

	float:left;

}

.right {

	float:right;

}

.clear {

	clear:both;

}
