@mixin round3px {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

@mixin helvetica {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

@mixin lato {
	font-family: 'Lato', "helvetica neue",helvetica,Arial, sans-serif;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin button {
	width:150px;
	height:60px;
	background-color: $primary;
	font-size:1.2rem;
	line-height: .6rem;
	color:white;
	letter-spacing:1px;
	border-radius:3px;
	text-align:center;
	cursor:pointer;
	padding-top:26px;
	box-shadow: 2px 2px 0px 0px darken($primary,20);
	transition:.1s;
}

@mixin small-button {
	background-color: $primary;
	font-size:100%;
	font-weight:bold;
	color:white;
	letter-spacing:.75px;
	border-radius:3px;
	cursor:pointer;
	box-shadow: 2px 2px 0px 0px darken($primary,20);
	transition:.05s;

}

@mixin button-clicked {
	-webkit-transform: translate(2px,2px);
	-ms-transform: translate(2px,2px);
	transform: translate(2px,2px);
	box-shadow: 0px 0px 0px 0px;
}




@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	 -webkit-border-top-left-radius: $radius;
	 border-top-left-radius: $radius;
	 background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
		 -webkit-border-top-right-radius: $radius;
		 border-top-right-radius: $radius;
		 background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	 -webkit-border-bottom-left-radius: $radius;
	 border-bottom-left-radius: $radius;
	 background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
		 -webkit-border-top-left-radius: $radius;
		 border-top-left-radius: $radius;
		 background-clip: padding-box;
}

@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
	margin:0;
}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}

}

@mixin breakpoint($point) {
	@if $point == small {
			@media (max-width: 500px) { @content; }
	}
	@else if $point == medium {
			@media (max-width: 1250px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}

}

@mixin change {
	@include transition(all .15s ease);
}

@mixin boxShadow {
	box-shadow: 0px 0px 4px 0px #ccc;
}
