

.offscreen-nav {

	position: absolute;
	text-align:left;
	width:100%;
	height:100%;
	background-color: lighten($primary, 40%);
	overflow: auto;
	top:0;
	@include box-sizing(border-box);

	.links-container {

		width:250px;

		li {

			padding:24px 20px;
			box-sizing:border-box;
			// border-top: 1px solid lighten($primary, 20%);
			border-bottom: 2px solid $darkPrimary;
			// background-color: darken($mediumGray, 20%);
			background-color: lighten($primary, 2%);

			&:first-child {

				border-top: 2px solid $darkPrimary;

			}

		}
	}

	a {

		color:white;
		display:block;
		font-size: 1.25em;

	}

}

// button uses hidden checkbox

.nav-trigger {
	position: absolute;
  clip: rect(0, 0, 0, 0);
}

//style the clickable label instead of the label itself
label[for="nav-trigger"] {

	position: absolute;
	width:40px;
	height:40px;
  top: 15px;
  left: 70px;
  z-index: 2;

	.hamburger {
		float:left;
		width:40px;
		height:40px;
		cursor: pointer;

		.patty {
			height:6px;
			margin-bottom:9px;
			border-radius: 2px;
			background:white;
		}
	}

}

// trigger functionality
.nav-trigger:checked + label {
    left: 270px;
}

// move site content to the right
.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 0px 2px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

// header/nav
.nav-container {
	// ** Temporarily static until we figure out a solution for iOS **
	position: static;
	// position: fixed;

	padding:15px;
	width:100%;
	// background-color: $darkgray;
	background-color: darken($primary, 0%);
	// background-color: white;

	border-bottom: 2px solid $darkPrimary;
	border-top: 2px solid $darkPrimary;
	height: 72px;
	top:0px;
	z-index: 100;
	overflow: visible;
	@include transform(translate(0%, 0));
	@include transition(all .25s ease);

	

	&.hidden {

		@include transform(translate(0, -100%));

	}
}

.search-field-container {

	float:right;
	position: relative;

}

.search-field-icon {

	position: absolute;
	@include centerLeft;
	left:10px;
	font-size: 1.2rem;
	color:$lightGray;

}

.search-field {

	text-align:left;
	border: none;
	width:90%;
	max-width:500px;
	width:450px;
	height:40px;
	// @include round3px;
	border:2px solid $darkPrimary;
	@include lato;
	color: $darkgray;
	letter-spacing:1px;
	font-size: 1.25em;
	box-sizing:border-box;
	padding:10px;
	padding-left: 30px;

	.main-wrapper {
		width:768px;
		margin:auto;
	}

	.top-spacer {
		width:100%;
		height:20px;
	}

	&:focus {

		outline:none;

	}

	&:focus + .search-field-icon {

		color:$primary !important;

	}

}



.logo {

	width:40px;
	float:left;
	margin-right:15px;

}


