//flyout

.flyout {
	position:absolute;
	width: 800px;
	height:100%;
	color:blue;
	z-index:100;
}

// header/nav
.nav-container {
	position: relative;
	padding:15px;
	width:100%;
	background-color: $darkgray;
	height: 70px;
	top:0px;
	z-index: 100;
	overflow: visible;

	.hamburger {
		float:left;
		width:40px;
		height:40px;
		cursor: pointer;

		.patty {
			height:6px;
			margin-bottom:9px;
			border-radius: 2px;
			background:white;
		}
	}

	.member-search {
		float:right;
		text-align:left;
		border: none;
		width:90%;
		max-width:500px;
		height:40px;
		@include round3px;
		@include lato;
		color: $darkgray;
		font-weight:bold;
		font-size: 1.2em;
		padding:10px;
	}
}

.logo {

	width:40px;
	float:left;
	margin-right:15px;

}


