$primary: #3050FF;
$secondary: #FF784A;
$tertiary: #63CC12;
$darkgray: #333;
$medgray: #888;
$lightgray: #ccc;
$limegreen: #a9cd4e;
$medBlue: #2e89d4;
$transDarkGray: rgba(51,51,51,.8);
$green : #2ecc71;
