// $primary: #3050FF;
// $primary: #2F4FFF;
$primary : #2E6CE3;
$darkPrimary : darken($primary, 30%);
$secondary: #FF784A;
$tertiary: #63CC12;
$darkgray: #333;
$mediumGray: #888;
$lightgray: #ccc;
$lightGray: #ccc;
$medBlue: #2e89d4;
$transDarkGray: rgba(51,51,51,.8);
$green : #2ecc71;
$red : #e74c3c;
$light : #ECF0F1;
