
.addmember-wrapper {

	width: 700px;
	padding: 30px;
	// text-align:center;
	margin:auto;

	.title {
		font-size:2em;
		margin-bottom: 25px;
		color:$darkgray;
	}

	.color-wrap {
		background-color: $darkgray;
		border-radius: 10px;
		overflow:auto;
		padding: 30px;
	}

	label {
		// width: 300px;
		// color:white;
		// display:inline;
		// text-align:left;
		// font-size:1.125em;
		// letter-spacing:1px;
	}

	


	input {

        -webkit-appearance:none;
        padding:9px !important;
		
	}

	input[type="submit"] {
		position:fixed;
		bottom: 25px;
		right: 50px;
		border-radius: 100%;
		border:none;
		box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
		-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
		background-color: $primary;
		width: 75px;
		height: 75px;
		@include lato;
		text-rendering:geometricPrecision;
		letter-spacing:1px;
		font-size: 2em;
		color:white;
		z-index: 10;
		cursor:pointer;
	}

	.photo-upload-field {

		position: relative;
		width:260px;
		height:260px;
		margin:10px auto 20px auto;
		// background-color: #d2d2d2;
		overflow: hidden;
		box-sizing:border-box;
		// border: 5px solid transparent;
		border:2px solid $darkPrimary;
		background-clip: content-box; 

		&:first-child {

			// border-right: 5px solid transparent;
			// border-left: none;

		}

		&:last-child {
			
			// border-right: none;
			// border-left: 5px solid transparent;
			
		}

		.spinner {

			@include center;

		}

		i {
			color:$primary;
			@include center;
			font-size: 2.5rem;
		}

		#angular-upload {
			position: absolute;
			width:100%;
			height:100%;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
			z-index:13;
		}

		.post-image-path {
			display:none;
		}

		.photo-upload-photo {

			width:100%;
			height:100%;
			background-size: cover;
			background-position: center;
				
		}

		
	}


}


