body.login {
	background-color: $darkgray
}


.login-container {
	@include center;
	width:200px;
	height:auto;
	background-color: $green;
	border: 2px solid white;
	margin:auto;

	text-align:center;
	@include border-radius(3px);
	padding:30px 0 10px 0;

	.yv-logo {
		width: 125px;
		height: 125px;
		margin:auto;
		margin-bottom: 20px;

		img {

			width:100%;

		}
	}

	select {
		margin:0 auto;
		width:90%;
		color:$darkgray;
		@include lato;
	}

	.input-container {
		background-color:white;
		height: auto;
		width:180px;
		margin: auto;
		margin-top: 20px;
		@include border-radius(3px);
		padding-bottom: 10px;
	}

	.email, .password {
		height:33px;
		width:100%;
		margin-top:2px;
		padding-left:10px;
		border:none;
		border-bottom:1px solid $lightgray;
		border-radius: 0px;
		@include lato;
		font-size: .75em;
		letter-spacing:.5px;
		color: $darkgray;
	}

	.log-in-button {
		-webkit-appearance: none;
		@include lato;
		font-size:.75em;
		text-transform:uppercase;
		letter-spacing:1px;
		@include border-radius(3px);
		border:0px;
		width:160px;
		height:25px;
		margin:0;
		margin-top:8px;
		background-color:$medBlue;
		color:white;
		cursor:pointer;
		&:active {
			background-color: darken($medBlue,10);
		}
	}
}
