body.login {
	// background-color: lighten($primary, 44%);
	background-color: $primary;
}


.login-container {
	@include center;
	width:300px;
	height:auto;
	// background-color: $green;
	// border: 2px solid white;
	margin:auto;

	text-align:center;
	// @include border-radius(3px);
	// padding:30px 0 10px 0;

	.yv-logo {
		width: 70px;
		// height: 125px;
		margin:auto;
		// margin-bottom: 20px;

		img {

			width:100%;

		}
	}

	// select {
	// 	margin:0 auto;
	// 	width:90%;
	// 	color:$darkgray;
	// 	@include lato;
	// }

	.input-container {
		
		height: auto;
		margin: auto;
		margin-top: 20px;
		
	}
	

	.Card-content {

		padding:15px;

	}

	label {

		font-size: 14px;

	}
}
