.member-page-container {

	width:768px;
	margin:auto;
	margi

	.member-section-navigation {

		float:right;
		overflow: auto;

		li {

			float:left;
			background-color: gray;
			@include box-sizing(border-box);
			margin-right: 5px;
			cursor: pointer;
			color:white;

		}

		.member-section-selected {

			background-color: #bdc3c7;
			color:black;

		}

	}

	.member-header-info {

		float:left;

	}

	.member-profile-image {

		width:150px;
		height:150px;
		background-size: cover;
		background-position: center;

	}

	.member-checkedin-status {

		background-color: $green;
		color:white;
		@include box-sizing(border-box);
		padding: 10px;
		text-align: center;
		margin-bottom: 20px;

	}

	.member-details-container {

		p {
			line-height:1.5em;
		}
	}

}
