.member-page-container {

	width:768px;
	padding-left: 40px;
	padding-right: 40px;
	margin:auto;

	.member-header-container {
		margin-top: 15px;
	}

	.member-profile-name {
		float: left;
		font-size: 2.5em;
		font-weight: 300;
		padding-bottom:20px;

	}

	.member-section-navigation {
		margin-top: 3px;
		float:right;
		overflow: auto;
		margin-top: -58px;

		li {

			float:left;
			padding: 10px;
			letter-spacing: .75px;
			background-color:$primary;
			@include small-button;
			margin-right: 10px;
			cursor: pointer;
			color:white;

		}

		.member-section-selected {

			background-color: $green;
			box-shadow: 3px 3px 0px 0px darken($green,20);

		}

	}

	.member-profile-image {
		float: left;
		clear: left;
		position: relative;
		border-radius: 10px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
		// margin-top: 70px;
		margin-bottom: 10px;

		.member-checkedin-status {

			background-color: transparentize($green, .15);
			color:white;
			letter-spacing: 1px;
			font-size: 18px;
			@include box-sizing(border-box);
			padding: 10px;
			width:100%;
			border-radius: 0 0 10px 10px;
			text-align: center;
			position:absolute;
			bottom: 0;

		}

	}

	.member-header-info {

		width: auto;

	}

	.rank-container {
		float: right;
		margin-right:6px;
 		width: 450px;
 		height:200px;
 		background-color: $primary;
	}

	.member-details-container {
		text-align: center;

		.rule {
			position:relative;
			top:18px;
			border-bottom: 1.5px solid $darkgray
		}

		.section-title {
			font-size: 2em;
			font-weight:300;
			margin-bottom:15px;
			margin-top: 40px;
		}

		.column {
			margin-left:1px;
			margin-right:1px;
			width: 49%;
			display:inline-block;
			text-align:center;


			.subsection-title {
				display:inline-block;
				padding: 2px;
				color:$darkgray;
				font-weight: 700;
				margin-bottom:5px;
				margin-top: 5px;
				border-bottom: 1px solid $darkgray;
			}

			p {
				display: block;
			}

		}

		.group {
			margin-top: 7px;
		}

		.text-data, .boolean-data {
			display: inline-block;
			padding: 7px;
			margin: 5px;

		}

		.spacer {
			height: 30px;
			margin-bottom: 5px;
		}

		.boolean-data-true {

		}

		.boolean-data-false {

		}

		.data-empty {
			color: $medgray
		}

	}

}
