.shift-module-container {
	border-left: 2px solid $darkPrimary;
	border-right: 2px solid $darkPrimary;
	border-top: 2px solid $darkPrimary;
	margin:20px 0;
}

.module-container {
	margin: 20px 0;
}

.cal-heatmap-container .graph-rect {
	background-color: white;
	fill : white;
}

.cal-heatmap-container .q1 {
	background-color: lighten($primary, 20%);
	fill: lighten($primary, 20%)
}

.cal-heatmap-container .q2 {
	background-color: lighten($primary, 10%);
	fill: lighten($primary, 15%)
}

.cal-heatmap-container .q3 {
	background-color: $primary;
	fill: $primary
}

.cal-heatmap-container .q4 {
	background-color: darken($primary, 10%);
	fill: darken($primary, 10%);
}

.cal-heatmap-container .q5 {
	background-color: darken($primary, 20%);
	fill: darken($primary, 20%);
}

